*.o
lib-*
android-platform-headers
ashmem
display-info
dlopen
hal-copybit
hal-gralloc
hal-info
hello
hellocpp
gles-info
surface-client
opengles-aosp/angeles
opengles-aosp/configdump
opengles-aosp/fillrate
opengles-aosp/filter
opengles-aosp/finish
opengles-aosp/gl2_basic
opengles-aosp/gl_basic
opengles-aosp/linetex
opengles-aosp/swapinterval
opengles-aosp/textures
opengles-aosp/tritex
